.shopheader {
  background-color: #ffdd31;
  padding: 20px 0;
  color: black;
  font-family: Gilroy-Medium;
  .shopheader-paragraph {
    display: flex;
  }
  b {
    font-size: 30px;
    margin-right: 20px;
  }
  span {
    font-size: 18px;
    align-self: center;
    margin: auto 0;
  }
}

@media (max-width: 768px) {
  .shopheader {
    b {
      font-size: 20px;
    }
    span {
      font-size: 15px;
      align-self: center;
    }
  }
}
