.shopheader{
    background-color: #FFDD31;
    padding: 20px 0 ;
    color: black;
    font-family: Gilroy-Medium;
    b, span{
        font-size: 30px;
    }
    p{
        font-size: 18px;

    }
}