.products-main {
  height: 100%;
  display: flex;
  background-repeat: repeat;
  background-size: contain;
  background-position: top;
  flex-direction: row;
}
.category-wrapper {
  width: 80%;
  h2 {
    font-size: 40px;
    font-family: Gilroy-Regular;
  }
  .category-title{
    display: flex;
    justify-content: space-between;
    hr{
      width: 25%;
      height: 1px;
      align-self: center;
      color: rgba(255, 245, 0, 1);
    }
    button{
      background-color: transparent;
      border: none;
      text-decoration: underline;
      color: white;
      font-size: 24px;
    }
  }
  .product-grid {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 100%;
    gap: 35px;
    margin-top: 40px;
    margin-bottom: 50px;

    .product-card {
      padding: 17px;
      background-color: #1f1f1f;
      border-radius: 15px;
      min-height:450px;
      width: 272px;
      
      .price-block{
        min-width: 150px;
        margin-top:7px ;
        max-width: fit-content;
        padding: 13px 10px;
        border-radius: 0 25px 25px 0;
        background-color: rgba(255, 245, 0, 1);
        color: rgba(0, 0, 0, 1);
        font-family: Gilroy-Bold;
      }
      h4 {
        font-family: Gilroy-Medium;
        font-size: 24px;
        text-align: center;
        margin-top: 30px;
      }
      .products-button {
        width: 100%;
      }
      p {
        font-family: Gilroy-Regular;
        font-size: 16px;
        color: #a2a2a2;
        text-align: center;
        margin-top: 12px;
      }

      .product-image {
        height: 50%;
        width: 100%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        position: relative;

        .gray-element {
          flex-grow: 1;
          position: absolute;
          top: 0;
          left: 0;
          height: 80%;
          background-color: rgba(78, 78, 78, 1);
          width: 100%;
        }

        .black-element {
          background: linear-gradient(
            1.2deg,
            #080808 53.89%,
            rgba(78, 78, 78, 0) 98.98%
          );
          border-radius: 0px 0px 122px 122px;

          position: absolute;
          left: 10%;
          height: 100%;
          width: 80%;
        }
      }
    }
  }
}

.products-button {
  width: max-content;
  background-color: rgba(255, 245, 0, 1);
  color: #000000;
  font-family: gilroy-Medium;
  font-weight: 600;
  font-size: 15px;
  padding: 12px 62px;
  position: relative;
  border-radius: 30px;
  margin-top: 12px;
  margin-bottom: 20px;
  border: none;
  cursor: pointer;

  
}

.modal-wrapper {
  padding: 54px 32px;
  display: flex;
  justify-content: space-between;
  img {
    width: 350px;
  }
  .modal-product-desc {
    width: 50%;
    h3 {
      font-family: gilroy-regular;
      font-size: 48px;
      color: #fab400;
      margin-bottom: 50px;
    }
    .modal-product-desc-text {
      p {
        font-size: 24px;
        margin-bottom: 35px;
        span {
          font-size: 32px;
        }
      }
    }

    .products-button {
      float: right;
    }
    .modal-product-form {
      height: max-content;
      p {
        font-family: gilroy-thin;
        font-size: 16px;
        color: #626262;
      }
      input {
        padding: 17px;
        border-radius: 10px;
        border: none;
        color: #545454;
        font-family: montserrat;
        font-weight: 500;
        &::placeholder {
          color: #545454;
          opacity: 100%;
        }
      }
      .products-button {
        float: none;
      }
    }
  }
}
