.products-main {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.category-wrapper {
  width: 70%;
  h2 {
    font-size: 40px;
    font-family: Gilroy-Regular;
  }
  .category-title{
    display: flex;
    justify-content: space-between;
    hr{
      width: 25%;
      height: 1px;
      align-self: center;
      color: rgba(255, 245, 0, 1);
    }
    button{
      background-color: transparent;
      border: none;
      text-decoration: underline;
      color: white;
      font-size: 24px;
    }
  }
  .product-grid {
    display: grid;
    justify-content: space-between;
    grid-template-columns:  1fr 1fr 1fr;
    width: 100%;
    gap: 35px;
    margin-top: 40px;
    margin-bottom: 50px;

   
  }
}

.products-button {
  width: max-content;
  background-color: rgba(255, 245, 0, 1);
  color: #000000;
  font-family: gilroy-Medium;
  font-weight: 600;
  font-size: 15px;
  padding: 12px 62px;
  position: relative;
  border-radius: 30px;
  margin-top: 12px;
  margin-bottom: 20px;
  border: none;
  cursor: pointer;

  
}

.modal-wrapper {
  padding: 54px 32px;
  display: flex;
  justify-content: space-between;
  img {
    width: 350px;
  }
  .modal-product-desc {
    width: 50%;
    h3 {
      font-family: gilroy-regular;
      font-size: 48px;
      color: #fab400;
      margin-bottom: 50px;
    }
    .modal-product-desc-text {
      p {
        font-size: 24px;
        margin-bottom: 35px;
        span {
          font-size: 32px;
        }
      }
    }

    .products-button {
      float: right;
    }
    .modal-product-form {
      height: max-content;
      p {
        font-family: gilroy-thin;
        font-size: 16px;
        color: #626262;
      }
      input {
        padding: 17px;
        border-radius: 10px;
        border: none;
        color: #545454;
        font-family: montserrat;
        font-weight: 500;
        &::placeholder {
          color: #545454;
          opacity: 100%;
        }
      }
      .products-button {
        float: none;
      }
    }
  }
}


@media (max-width: 768px) {
  .products-main {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .category-wrapper {
    width: 100%;
    h2 {
      font-size: 26px;
      font-family: Gilroy-Regular;
    }
    .category-title{
      display: flex;
      justify-content: space-between;
      hr{
        display: none;
        
      }
      button{
        background-color: transparent;
        border: none;
        text-decoration: underline;
        color: white;
        font-size: 20px;
      }
    }
    .product-grid {
      display: grid;
      justify-content: space-between;
      grid-template-columns: 1fr 1fr;
      width: 100%;
      gap: 40px;
      margin-top: 40px;
      margin-bottom: 50px;

    }
  }
}