.product-slider {
  display: flex;

  button {
    background-color: transparent;
    border: none;
  }
  .product-photo {
    min-width: 65%;
    min-height: 100%;
    justify-self: center;
    display: flex;
    img{
        margin: 0 auto;
    }
  }
}

@media (max-width: 768px) {
  
  .product-slider{
    margin: 19px auto;
    width: fit-content;

    .product-photo{
      img{
        width: 80%;
      }
    }
    .left-arrow img, .right-arrow img{
      width: 50px;
    }
  }
}
