.increm-decrem-btn{
    background-color: transparent;
    border: 1.36px solid rgba(253, 253, 253, 1);
    display: flex;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 15px 13px;
    font-family: gilroy-regular;
    border-radius: 16.29px;
    button{
        background-color: transparent;
        border: none;
        color: #888;
        font-size: 20px;
     
    }
}