.filial-main {
  .filial-main-wrapper {
    margin-top: 100px;
    margin-bottom: 10px;

    .filial-row {
      display: flex;
      justify-content: space-between;

      .filial-info {
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        h1 {
          font-family: Gilroy-medium;
          font-size: 64px;
          font-weight: 500;
        }
        p {
          font-family: Gilroy-regular;
          font-size: 20px;
          font-weight: 300;
          line-height: 43px;
          letter-spacing: 0em;
          text-align: left;
        }
      }
    }
    .filial-form-section {
        margin-top: 100px;
        justify-content: end;
        width: 100%;
        flex-direction: row;
        display: flex;
      .filial-form-wrapper {
        background-color: #d9d9d9;
        border-radius: 32px;
        display: flex;
        width: 50%;
        .filial-form-contacts {
          width: 34%;

          .filial-form-contacts-wrapper {
            margin: 4px;
            background-color: #111111;
            border-radius: 30px;
            display: flex;
            flex-direction: column;
            padding: 20px 21px;
          }
          p {
            font-size: 11px;
            margin-bottom: 33px;
          }
          h3 {
            color: #fff500;
            font-size: 18px;
            font-weight: 400;
            font-family: Gilroy-Regular;
            margin-bottom: 15px;
          }
          .filial-contacts {
            div {
              display: flex;
              img {
                margin-right: 13px;
                align-self: flex-start;
              }
            }
          }
          .filial-form-socialmedia {
            img {
              width: 16px;
              height: 16px;
              margin-right: 13px;
            }
          }
        }
        .filial-form-block {
          width: 50%;
          padding: 30px 20px;
          display: flex;
          flex-direction: column;
          .filial-form-inputs-row {
            display: flex;
            justify-content: space-between;
            input {
              background-color: transparent;
              border: none;
              padding-bottom: 18px;
              width: 40%;
              margin-bottom: 24px;

              border-bottom: 0.53px solid rgba(0, 0, 0, 1);
              &::placeholder {
                font-family: gilroy-medium;
                font-size: 11.84px;
                font-weight: 500;
                opacity: 100%;
              }
              &:focus {
                padding-bottom: 0px;
                transition: 0.1s;
              }
            }
          }
          textarea {
            background-color: transparent;
            border: 0.48px solid rgba(41, 41, 41, 1);
            padding: 14px;
            font-family: gilroy-light;
            font-size: 10px;
            border-radius: 10px;
            width: 100%;
            margin-bottom: 15px;
            &::placeholder {
              color: #292929;
              opacity: 100%;
              font-size: 11.84px;
            }
          }
          button {
            padding: 12px 0;
            border-radius: 33.27px;
            color: black;
            background-color: rgba(255, 245, 0, 1);
            font-family: gilroy-bold;
          }
        }
      }
    }
  }
}
