.marketing-main {
  padding: 60px 0;
  margin-top: 2rem;

  .marketing-wrapper {
    h1 {
      font-family: Gilroy-medium;
      font-size: 50px;
      font-weight: 600;
      line-height: 79px;
      letter-spacing: 0em;
      text-align: left;
      color: #fff500;
      margin-bottom: 30px;
    }
    .marketing-info {
      display: flex;
      width: 100%;
      justify-content: space-between;
      p {
        width: 30%;
        font-size: 26px;
        font-weight: 400;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
        align-self: center;
      }
      img {
        width: 60%;
        height: max-content;
        margin: auto 0;
      }
    }
  }
}

@media (max-width: 756px) {
  .marketing-main {
    margin-top: 2rem;

    padding: 30px 0;
    .marketing-wrapper {
      h1 {
        font-size: 36px;
        margin-bottom: 10px;
      }
      .marketing-info {
        justify-content: space-between;
        flex-direction: column-reverse;
        p {
          width: 100%;
          font-size: 20px;
          line-height: 30px;
          margin-bottom: 10px;
        }
        img {
          width: 100%;
          height: max-content;
          margin: auto 0;
          margin-bottom: 10px;
        }
      }
    }
  }
}
