main {
  display: flex;
  flex-direction: column; // Change flex direction to column to stack children vertically
  justify-content: center;
  height: calc(100vh - 65px); // Add space between main and footer
  min-height: 545px;
  .main-wrapper {
    display: flex;
    justify-content: space-between;
    
    padding-top: 50px;
    padding-bottom: 50px;
    .first-main-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 60%;

      h1 {
        color: #FFF500;
        font-family: Gilroy-Bold;
        font-size: 40px;
        letter-spacing: 1px;
      }

      p {
        margin-top: 26px;
        font-size: 22px;
        font-family: gilroy-regular;
      }

      .card-wrapper {
        margin-top: 26px;
        display: flex;
        align-self: flex-end; // Align cards to the bottom
        width: 100%;
        // height: 41%;
        align-self: stretch;
        z-index: 1;
        justify-content: space-between;
        align-items: center;

        .card {
          width: 30%;
          height: 90%;
          min-height: 200px;
          min-width: 200px;
          background-color: white;
          border-radius: 12px;
          &:nth-child(2) {
            width: 35%;
            height: 100%;
            min-height: 250px;
            min-height: 250px;
          }
        }
      }
    }
    .second-main-wrapper{
      width: 40%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      img {
        width: 80%;
      }
    }
  }
}
.complex-support {
  background-color: #1f1f1f;
  .complex-support-wrapper {
    display: flex;
    justify-content: flex-end;
    img {
      height: 100%;
      width: 100%;
    }
    .complex-info {
      padding-top: 50px;
      padding-bottom: 50px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 50%;

      h1{
        font-size: 40px;
        letter-spacing: 1px;
      }
      p {
        font-size: 18px;
        font-weight: 400;
        &:first-of-type {
          margin-top: 33px;
        }
      }
      button {
        margin-top: 33px;
        background-color: #fff500;
        color: #000000;
        font-size: 20px;
        font-weight: 500;
        width: fit-content;
        padding: 15px 75px;
        border-radius: 16px;
        font-family: Gilroy-medium;
      }
    }

    .complex-image{
      width: 50%;
    }
  }
}
.marketing {
  background: linear-gradient(
    90deg,
    rgba(244, 244, 244, 1) 50%,
    rgba(255, 255, 255, 1) 50%,
    rgba(1, 1, 1, 1) 50%
  );
  color: #000000;

  .marketing-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;

    .marketing-info {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      width: 50%;
      padding-top: 50px;
      padding-bottom: 50px;
      padding-right: 50px;

      h2 {
        font-weight: 700;
        font-size: 50px;
        margin-bottom: 10px;
      }
      p {
        font-size: 18px;
        margin-bottom: 20px;
      }
      button {
        color: #ffffff;
        background-color: #010101;
        font-size: 22px;
        font-weight: 300;
        border-radius: 15px;
        padding: 15px 30px;
        display: flex;
        font-family: Gilroy-Regular;
        font-style: italic;
        border: none;
        svg {
          align-self: center;
          padding-top: 3px;
          margin-left: 10px;
          width: 15px;
          height: 15px;
        }
      }
    }
    .marketing-image {
      width: 50%;
      img {
        max-height: 650px;
        height: 100%;
        width: 100%;
      }
    }
  }
}

.euphoria-partnership {
  background-color: #1f1f1f;
  padding-bottom: 50px;
  .euphoria-partnership-wrapper {
    h2 {
      font-family: Gilroy-Bold;
      font-size: 40px;
      font-weight: 700;
      text-align: center;
      padding-top: 30px;
      margin-bottom: 30px;
      letter-spacing: 1px;
    }
    .partnership-info {
      display: flex;
      justify-content: space-between;
      &>img{
        width: 50%;
        padding-left: 15px;
      }
      div {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        h3{
          font-size: 30px;
          font-weight: 700;
          margin-bottom: 20px;
          text-align: left;
        }
        p {
          font-weight: 300;
          font-size: 22px;
          line-height: 30px;
          text-align: left;
        }
        img {
          box-shadow: 0px 3.8592967987060547px 3.8592967987060547px 0px
            rgba(0, 0, 0, 0.25);

          box-shadow: -43.41708755493164px 24.12060546875px
            0.09648241847753525px 0px rgba(0, 0, 0, 0.25);
        }
        button {
          background-color: #fff500;
          color: #000000;
          font-size: 20px;
          font-weight: 500;
          padding: 15px 30px;
          // margin: 0 auto;
          margin-top: 30px;
          border-radius: 16px;
          font-family: Gilroy-bold;
        }
      }
    }
  }
}

.survey-block {
  background-color: #1e1e1e;
  height: fit-content;
  .survey-block-wrapper {
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    .survey-info {
      width: 50%;
      justify-self: center;
      align-self: center;
      // padding: 200px 0;
      h2 {
        font-family: Gilroy-Bold;
        font-size: 48px;
        font-weight: 700;
      }
      hr {
        background-color: #fff500;
        height: 5px;
        max-width: 250px;
        margin: 30px 0;
        border: none;
      }
      button {
        background-color: transparent;
        border: #fff700 solid 2px;
        padding: 15px 30px;
        color: #ffffff;
        font-family: gilroy-bold;
        border-radius: 15px;
        font-size: 18.5px;
        margin-top: 40px;
      }
    }
    .survey-cards {
      width: 50%;
      .survey-card {
        background-color: #fff500;
        border: 1px solid #000000;
        width: 40%;
        transform: rotate(-35deg) translate(30%, 30%);
        position: relative;
        box-shadow: 100px 0 100px 1px rgba(255, 255, 0, 0.071);
        border-radius: 50px;
        height: 25%;
        min-height: 180px;
        &:nth-child(3),
        &:nth-child(4) {
          background-color: #303030;
        }
        &:nth-child(1) {
          top: 70px;
          left: 100px;
          z-index: 1;
        }
        &:nth-child(2) {
          top: 100px;
          z-index: 0;
        }

        &:nth-child(3) {
          left: 150px;
          // top: 100px;
        }
        &:nth-child(4) {
          left: 300px;
          bottom: 100px;
        }
      }
    }
  }
}

.application-form {
  background-color: #fff500;
  height: max-content;
  color: #000000;
  .application-form-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    .application-form-info {
      width: 50%;
      padding-right: 100px;
      h3 {
        font-family: Gilroy-bold;
        letter-spacing: 1px;
        margin-bottom: 15px;
        font-size: 40px;
        font-weight: 700;
      }
      p {
        font-size: 20px;
        font-weight: 300;
        line-height:35px;
        letter-spacing: 0.2px;
        text-align: left;
      }
    }
    .application-form-send {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 30%;
      margin: auto;
      form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
      }
      input {
        background: rgba(218, 218, 218, 0.5);
        padding: 15px 30px;
        border-radius: 10px;
        font-size: 18px;
        width: 100%;
        margin-bottom: 20px;
        outline: none;
        &::placeholder {
          color: rgba(0, 0, 0, 0.35);
          font-family: gilroy-medium;
          font-size: 18px;
        }
      }
      button {
        background-color: #000000;
        color: #d8c831;
        width: fit-content;
        padding: 15px 30px;
        font-size: 20px;
        margin: 0 auto;
        font-family: gilroy-bold;
        border-radius: 15px;
      }
    }
  }
}

@media (max-width: 768px) {
  main {
    height: 50vh;
    padding: 50px 0 0 0;
    margin-bottom: 50px;
    .main-wrapper {
      .second-main-wrapper {
        img {
          width: 100%;
        }
      }
      .first-main-wrapper {
        width: 50%;

        h1 {
          line-height: normal;
        }

        p {
          margin-top: 20px;
          font-size: 20px;
        }
      }
    }
  }

  .complex-support {
    background-color: #1f1f1f;
    .complex-support-wrapper {
      display: flex;
      img {
        height: 100%;
      }
      .complex-info {
        padding: 20px 0;
        width: 50%;
        p {
          font-size: 17px;
          font-weight: 400;
          &:first-of-type {
            margin-top: 10px;
          }
          &:last-of-type {
            margin-bottom: 15px;
          }
        }
        button {
          font-size: 17px;
          padding: 10px 50px;
          border-radius: 10px;
        }
      }
      .complex-image {
        width: 50%;
        img {
          width: 110%;
        }
      }
    }
  }

  .marketing {
    .marketing-wrapper {
      .marketing-info {
        width: 50%;
        padding: 30px 30px 30px 0;

        h2 {
          font-weight: 500;
          font-size: 40px;
        }
        p {
          margin-bottom: 20px;
        }
        img {
          width: 50px;
        }
        button {
          font-size: 20px;
          border-radius: 10px;
          padding: 20px 30px;
          svg {
            align-self: center;
            width: 20px;
          }
        }
      }
      .marketing-image {
        width: 50%;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
  .euphoria-partnership {
    .euphoria-partnership-wrapper {
      h2 {
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 40px;
      }
      .partnership-info {
        width: 100%;
        img {
          width: 65%;
        }
        div {
          width: 30%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          p {
            font-weight: 300;
            line-height: normal;
          }
          button {
            background-color: #fff500;
            color: #000000;
            font-size: 15px;
            font-weight: 500;
            width: 100%;
            padding: 10px 0;
            border-radius: 10px;
          }
        }
      }
    }
  }

  .survey-block {
    background-color: #1e1e1e;
    .survey-block-wrapper {
      display: flex;
      .survey-info {
        width: 50%;
        justify-self: center;
        align-self: center;
        padding: 130px 0;
        h2 {
          font-family: Gilroy-Bold;
          font-size: 30px;
          font-weight: 700;
          margin-bottom: 20px;
        }
        hr {
          height: 5px;
          max-width: 250px;
          margin: 10px 0;
        }
        button {
          padding: 20px 50px;
          border-radius: 13px;
          font-size: 15px;
        }
      }
      .survey-cards {
        width: 50%;
        .survey-card {
          width: 54%;
          transform: rotate(-30deg);
          border-radius: 30px;
          height: 20%;
          &:nth-child(3),
          &:nth-child(4) {
            background-color: #303030;
          }
          &:nth-child(1) {
            top: 70px;
            left: 50px;
            z-index: 1;
          }
          &:nth-child(2) {
            top: 75px;
            z-index: 0;
          }
          &:nth-child(3) {
            left: 100px;
          }
          &:nth-child(4) {
            left: 180px;
            bottom: 50px;
          }
        }
      }
    }
  }

  .application-form {
    background-color: #fff500;
    height: fit-content;
    color: #000000;
    .application-form-wrapper {
      display: flex;
      width: 100%;
      padding: 30px;
      align-items: center;
      .application-form-info {
        width: 50%;
        padding-right: 100px;
        h3 {
          font-family: Gilroy-medium;
          font-size: 23px;
          font-weight: 600;
          margin-bottom: 50px;
        }
        p {
          font-size: 16px;
          font-weight: 300;
          line-height: normal;
          letter-spacing: 0em;
          text-align: left;
        }
      }
      .application-form-send {
        display: flex;
        flex-direction: column;
        width: 40%;

        padding-top: 70px;
        padding-bottom: 25px;
        input {
          background: rgba(218, 218, 218, 0.5);
          padding: 20px 15px;
          width: 100%;
          border-radius: 10px;
          width: 100%;
          margin-bottom: 20px;
          &::placeholder {
            color: rgba(0, 0, 0, 0.35);
            font-family: gilroy-medium;
            font-size: 20px;
          }
        }
        button {
          background-color: #000000;
          color: #d8c831;
          width: fit-content;
          padding: 26px 0;
          text-align: center;
          width: 100%;
          font-size: 20px;
          margin: 0 auto;
          font-family: gilroy-bold;
          border-radius: 15px;
        }
      }
    }
  }
}
