main {
  height: 80vh;
  // background-image: url("../../images/Main-Bg.svg");
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
  display: flex;
  flex-direction: column; // Change flex direction to column to stack children vertically
  justify-content: space-between; // Add space between main and footer
  padding: 70px 0 0 0;
  margin-bottom: 100px;
  .main-wrapper {
    display: flex;
    justify-content: space-between;
    height: 100%;

    .first-main-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 55%;

      h1 {
        color: #a5a000;
        line-height: 80px;
        font-family: Gilroy-Bold;
      }

      p {
        margin-top: 25px;
        font-size: 36px;
        font-family: gilroy-regular;
      }

      .card-wrapper {
        display: flex;
        align-self: flex-end; // Align cards to the bottom
        width: 110%;
        height: 41%;
        align-self: stretch;
        z-index: 1;
        justify-content: space-between;
        align-items: center;

        .card {
          width: 30%;
          height: 90%;
          background-color: white;
          border-radius: 12px;
          &:nth-child(2) {
            width: 35%;
            height: 100%;
          }
        }
      }
    }
  }
}
.complex-support {
  background-color: #1f1f1f;
  .complex-support-wrapper {
    display: flex;
    img {
      height: 100%;
      width: 100%;
    }
    .complex-info {
      padding: 76px 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 50%;
      p {
        font-size: 20px;
        font-weight: 400;
        &:first-of-type {
          margin-top: 33px;
        }
      }
      button {
        background-color: #fff500;
        color: #000000;
        font-size: 20px;
        font-weight: 500;
        width: fit-content;
        padding: 15px 75px;
        border-radius: 16px;
        font-family: Gilroy-medium;
      }
    }
  }
}
.marketing {
  background: linear-gradient(
    90deg,
    rgba(244, 244, 244, 1) 50%,
    rgba(255, 255, 255, 1) 50%,
    rgba(1, 1, 1, 1) 50%
  );
  color: #000000;

  .marketing-wrapper {
    width: 100%;
    display: flex;

    .marketing-info {
      width: 50%;
      padding: 65px 65px 0 0;

      h2 {
        font-weight: 500;
        font-size: 73.38px;
      }
      p {
        margin-bottom: 20px;
      }
      button {
        color: #ffffff;
        background-color: #010101;
        font-size: 27px;
        font-weight: 300;
        border-radius: 15px;
        padding: 35px 45px;
        display: flex;
        font-family: Gilroy-Regular;
        font-style: italic;
        svg {
          align-self: center;
        }
      }
    }
    .marketing-image {
      width: 50%;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

.euphoria-partnership {
  background-color: #1f1f1f;
  .euphoria-partnership-wrapper {
    h2 {
      font-family: Gilroy-Bold;
      font-size: 55px;
      font-weight: 700;
      text-align: center;
      padding-top: 30px;
      margin-bottom: 80px;
    }
    .partnership-info {
      display: flex;
      justify-content: space-between;
      div {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p {
          font-weight: 300;
          line-height: 43px;
        }
        img {
          box-shadow: 0px 3.8592967987060547px 3.8592967987060547px 0px
            rgba(0, 0, 0, 0.25);

          box-shadow: -43.41708755493164px 24.12060546875px
            0.09648241847753525px 0px rgba(0, 0, 0, 0.25);
        }
        button {
          background-color: #fff500;
          color: #000000;
          font-size: 20px;
          font-weight: 500;
          width: 100%;
          padding: 30px 75px;
          border-radius: 16px;
          font-family: Gilroy-bold;
          margin: 0 auto;
        }
      }
    }
  }
}

.survey-block {
  background-color: #1e1e1e;
  height: fit-content;
  .survey-block-wrapper {
    display: flex;
    .survey-info {
      width: 50%;
      justify-self: center;
      align-self: center;
      padding: 200px 0;
      h2 {
        font-family: Gilroy-Bold;
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 60px;
      }
      hr {
        background-color: #fff500;
        height: 9px;
        max-width: 250px;
        margin: 30px 0;
      }
      button {
        background-color: transparent;
        border: #fff700 solid 2px;
        padding: 29px 85px;
        color: #ffffff;
        font-family: gilroy-bold;
        border-radius: 15px;
        font-size: 18.5px;
        margin-top: 40px;
      }
    }
    .survey-cards {
      width: 50%;
      .survey-card {
        background-color: #fff500;
        border: 1px solid #000000;
        width: 40%;
        transform: rotate(-35deg);
        position: relative;

        border-radius: 50px;
        height: 25%;
        &:nth-child(3),
        &:nth-child(4) {
          background-color: #303030;
        }
        &:nth-child(1) {
          top: 70px;
          left: 100px;
          z-index: 1;
        }
        &:nth-child(2) {
          top: 100px;
          z-index: 0;
        }

        &:nth-child(3) {
          left: 150px;
          // top: 100px;
        }
        &:nth-child(4) {
          left: 300px;
          bottom: 100px;
        }
      }
    }
  }
}

.quote-section {
  background: linear-gradient(
    90deg,
    rgba(24, 28, 35, 1) 50%,
    rgba(255, 255, 255, 1) 50%,
    rgba(250, 250, 253, 1) 50%
  );
  height: 70vh;

  .quote-wrapper {
    width: 100%;
    color: red;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  .dark-quote,
  .light-quote {
    width: 50%;
    height: 80%;
    padding: 0 6%;

    //
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .dark-quote-wrapper,
    .light-quote-wrapper {
      width: 100%;
      min-height: 100%;
      padding: 70px 50px;
      border-radius: 50px;
      border-collapse: separate;
      border: 19px solid transparent;
      background-image: url("../../images/Blured-Glass.png");
      // opacity: 0.2;
      background-blend-mode: multiply;
      border-image-source: radial-gradient(
          78.99% 95.57% at 17.38% 2.08%,
          rgba(255, 255, 255, 0.22) 0%,
          rgba(15, 17, 19, 0.1) 100%
        )
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;

      background: linear-gradient(
          142.13deg,
          rgba(254, 248, 255, 0.21) 1.8%,
          rgba(254, 248, 255, 0) 99.75%
        ),
        radial-gradient(
          78.99% 95.57% at 17.38% 2.08%,
          rgba(255, 255, 255, 0.22) 0%,
          rgba(15, 17, 19, 0.1) 100%
        );

      //
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      img{width: fit-content;}
    }
    p {
      padding: 5%;
    }
    .quote-slider {
      width: 100%;
      display: flex;
      align-self: flex-end;
      justify-content: space-between;
      div {
        justify-content: center;
        display: flex;
        flex-direction: column;
      }
      h5 {
        font-size: 19px;
        text-transform: uppercase;
        font-family: gilroy-medium;
        text-align: center;
      }
      h6 {
        font-size: 18px;
        font-family: gilroy-thin;
        text-align: center;
      }
      .slider-avatar {
        width: 60px;
        height: 60px;
        border: 3px solid #ff6201;
        object-fit: cover;
        border-image-slice: 1;
        border-radius: 50px;
        overflow: hidden;
        position: relative;
        margin: 0 auto;
      }
      button {
        background-color: transparent;
        border: none;
      }
    }
  }

  .light-quote {
    color: #000000;
  }
  .dark-quote {
    color: #ffffff;
  }
}

.application-form {
  background-color: #fff500;
  height: max-content;
  color: #000000;
  .application-form-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    .application-form-info {
      width: 50%;
      padding-right: 100px;
      h3 {
        font-family: Gilroy-medium;
        font-size: 32px;
        font-weight: 600;
        margin-bottom: 50px;
      }
      p {
        font-size: 24px;
        font-weight: 300;
        line-height: 43px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
    .application-form-send {
      display: flex;
      flex-direction: column;
      width: 30%;
      margin: auto;
      padding-top: 100px;
      padding-bottom: 25px;
      input {
        background: rgba(218, 218, 218, 0.5);
        padding: 35px 30px;
        border-radius: 10px;
        width: 100%;
        margin-bottom: 20px;
        &::placeholder {
          color: rgba(0, 0, 0, 0.35);
          font-family: gilroy-medium;
          font-size: 20px;
        }
      }
      button {
        background-color: #000000;
        color: #d8c831;
        width: fit-content;
        padding: 26px 84px;
        font-size: 20px;
        margin: 0 auto;
        font-family: gilroy-bold;
        border-radius: 15px;
      }
    }
  }
}

@media (max-width: 768px) {
  main {
    height: 50vh;
    padding: 50px 0 0 0;
    margin-bottom: 50px;
    .main-wrapper {
      .second-main-wrapper {
        img {
          width: 100%;
        }
      }
      .first-main-wrapper {
        width: 55%;

        h1 {
          line-height: normal;
        }

        p {
          margin-top: 20px;
          font-size: 20px;
        }
      }
    }
  }

  .complex-support {
    background-color: #1f1f1f;
    .complex-support-wrapper {
      display: flex;
      img {
        height: 100%;
      }
      .complex-info {
        padding: 20px 0;
        width: 50%;
        p {
          font-size: 17px;
          font-weight: 400;
          &:first-of-type {
            margin-top: 10px;
          }
          &:last-of-type {
            margin-bottom: 15px;
          }
        }
        button {
          font-size: 17px;
          padding: 10px 50px;
          border-radius: 10px;
        }
      }
      .complex-image {
        width: 50%;
        img {
          width: 110%;
        }
      }
    }
  }

  .marketing {
    .marketing-wrapper {
      .marketing-info {
        width: 50%;
        padding: 30px 30px 30px 0;

        h2 {
          font-weight: 500;
          font-size: 40px;
        }
        p {
          margin-bottom: 20px;
        }
        img {
          width: 50px;
        }
        button {
          font-size: 20px;
          border-radius: 10px;
          padding: 20px 30px;
          svg {
            align-self: center;
            width: 20px;
          }
        }
      }
      .marketing-image {
        width: 50%;
        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
  .euphoria-partnership {
    .euphoria-partnership-wrapper {
      h2 {
        font-size: 30px;
        margin-top: 30px;
        margin-bottom: 40px;
      }
      .partnership-info {
        width: 100%;
        img {
          width: 65%;
        }
        div {
          width: 30%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          p {
            font-weight: 300;
            line-height: normal;
          }
          button {
            background-color: #fff500;
            color: #000000;
            font-size: 15px;
            font-weight: 500;
            width: 100%;
            padding: 10px 0;
            border-radius: 10px;
          }
        }
      }
    }
  }

  .survey-block {
    background-color: #1e1e1e;
    .survey-block-wrapper {
      display: flex;
      .survey-info {
        width: 50%;
        justify-self: center;
        align-self: center;
        padding: 130px 0;
        h2 {
          font-family: Gilroy-Bold;
          font-size: 30px;
          font-weight: 700;
          margin-bottom: 20px;
        }
        hr {
          height: 5px;
          max-width: 250px;
          margin: 10px 0;
        }
        button {
          padding: 20px 50px;
          border-radius: 13px;
          font-size: 15px;
        }
      }
      .survey-cards {
        width: 50%;
        .survey-card {
          width: 54%;
          transform: rotate(-30deg);
          border-radius: 30px;
          height: 20%;
          &:nth-child(3),
          &:nth-child(4) {
            background-color: #303030;
          }
          &:nth-child(1) {
            top: 70px;
            left: 50px;
            z-index: 1;
          }
          &:nth-child(2) {
            top: 75px;
            z-index: 0;
          }
          &:nth-child(3) {
            left: 100px;
          }
          &:nth-child(4) {
            left: 180px;
            bottom: 50px;
          }
        }
      }
    }
  }
  .quote-section {
    background: linear-gradient(
      90deg,
      rgba(24, 28, 35, 1) 50%,
      rgba(255, 255, 255, 1) 50%,
      rgba(250, 250, 253, 1) 50%
    );
    height: 60vh;

    .quote-wrapper {
      width: 100%;
      color: red;
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
    }
    .dark-quote,
    .light-quote {
      padding: 0 2%;
      .dark-quote-wrapper,
      .light-quote-wrapper {
        width: 100%;
        padding: 20px 15px;
        border-radius: 30px;
        border-collapse: separate;
        border: 10px solid transparent;
        background-image: url("../../images/Blured-Glass.png");
        // opacity: 0.2;
        background-blend-mode: multiply;
        border-image-source: radial-gradient(
            78.99% 95.57% at 17.38% 2.08%,
            rgba(255, 255, 255, 0.22) 0%,
            rgba(15, 17, 19, 0.1) 100%
          )
          /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
        .quotes {
          height: 20px;
        }
        background: linear-gradient(
            142.13deg,
            rgba(254, 248, 255, 0.21) 1.8%,
            rgba(254, 248, 255, 0) 99.75%
          ),
          radial-gradient(
            78.99% 95.57% at 17.38% 2.08%,
            rgba(255, 255, 255, 0.22) 0%,
            rgba(15, 17, 19, 0.1) 100%
          );
      }
      p {
        padding: 5%;
      }
      .quote-slider {
        display: flex;
        justify-content: space-between;
        div {
          justify-content: center;
          display: flex;
          flex-direction: column;
        }
        h5 {
          font-size: 15px;
        }
        h6 {
          font-size: 13px;
        }

        .left-arrow img {
          width: 20px;
        }
        .right-arrow img {
          width: 20px;
        }
        .slider-avatar {
          width: 60px;
          height: 60px;
          border: 3px solid #ff6201;

          border-image-slice: 1;
          border-radius: 50px;
          overflow: hidden;
          position: relative;
          margin: 0 auto;
        }
        button {
          background-color: transparent;
          border: none;
        }
      }
    }

    .light-quote {
      color: #000000;
    }
    .dark-quote {
      color: #ffffff;
    }
  }

  .application-form {
    background-color: #fff500;
    height: fit-content;
    color: #000000;
    .application-form-wrapper {
      display: flex;
      width: 100%;
      padding: 30px;
      align-items: center;
      .application-form-info {
        width: 50%;
        padding-right: 100px;
        h3 {
          font-family: Gilroy-medium;
          font-size: 23px;
          font-weight: 600;
          margin-bottom: 50px;
        }
        p {
          font-size: 16px;
          font-weight: 300;
          line-height: normal;
          letter-spacing: 0em;
          text-align: left;
        }
      }
      .application-form-send {
        display: flex;
        flex-direction: column;
        width: 40%;

        padding-top: 70px;
        padding-bottom: 25px;
        input {
          background: rgba(218, 218, 218, 0.5);
          padding: 20px 15px;
          width: 100%;
          border-radius: 10px;
          width: 100%;
          margin-bottom: 20px;
          &::placeholder {
            color: rgba(0, 0, 0, 0.35);
            font-family: gilroy-medium;
            font-size: 20px;
          }
        }
        button {
          background-color: #000000;
          color: #d8c831;
          width: fit-content;
          padding: 26px 0;
          text-align: center;
          width: 100%;
          font-size: 20px;
          margin: 0 auto;
          font-family: gilroy-bold;
          border-radius: 15px;
        }
      }
    }
  }
}
