header {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 99;
  top: 0;
  align-items: center;
  border-bottom: 1px solid rgba(90, 90, 90, 1);
  color: white;
  background-color: #1f1f1f;
  max-width: 2400px !important;
  margin: 0 auto;
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .header-logo {
      transform: translateY(4px);
      width: 30%;
      height: 34px;
      cursor: pointer;
    }
    .header-menu {
      display: flex;
      justify-content: flex-end;
      width: 70%;
      align-items: center;
      position: relative;

      nav input[type="checkbox"],
      nav .hamburger-lines {
        display: none;
      }

      ul {
        list-style: none;
        display: flex;
        li {
          margin-right: 25px;
          font-family: gilroy-light;
          font-size: 20px;
          align-self: center;
          display: flex;
          justify-content: center;
          align-items: center;
          a {
            font-size: 16px;
            &:active {
              text-decoration: underline;
            }
          }
        }
      }
      .change-language {
        width: 24px;
        height: 24px;
        position: relative;
      }
    }
  }
}

.loaderWrapper{
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1f1f1f;
  z-index: 99999;
  margin-top: -65px;

  .loaderHeading{
    font-size: 24px;
    font-family: gilroy-regular;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 40px;
  }
}

.change-language-block {
  padding: 15px 25px;
  background-color: #313131;
  border: 1px solid #747474;
  position: absolute;
  right: 0;
  transform: translateY(5px);
  p {
    font-size: 18px;
    margin-right: 8px;
  }
  a {
    display: flex;
    width: 100%;
    justify-content: space-between;

    &:last-child{
      margin-top: 15px;
    }
  }
}

@media (max-width: 768px) {
  .change-language {
    display: none;
  }
  /* Header.scss */
  .navbar-container {
    display: flex;
    justify-content: flex-end;
  }

  #menu__toggle {
    opacity: 0;
  }

  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }

  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu__box {
    right: 0;
  }

  .menu__btn {
    position: fixed;
    top: 29px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 999;
    right: 15px;
    float: right;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: 0.25s;
  }

  .menu__btn > span::before {
    content: "";
    top: -8px;
  }

  .menu__btn > span::after {
    content: "";
    top: 8px;
  }

  span {
    z-index: 999;
  }

  ul.menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 50px 30px;
    flex-direction: column;
    list-style: none;
    background-color: #1f1f1f;
    opacity: 0.95;
    box-shadow: -2px 0px 10px rgba(112, 105, 105, 0.394);
    transition-duration: 0.25s;
    text-align: right;
    z-index: 99;
  }

  ul.menu__box li {
    padding: 12px 0;
    margin-right: 0 !important;
  }

  ul.menu__box li:hover {
    text-decoration: underline;
  }
}
