.nav-bar {
    height: 50vh;
    width: -moz-fit-content;
    width: fit-content;
    background-color: #1f1f1f;
    color: #ffffff;
    border-radius: 10px;
    position: fixed;
    left: 130px;
    width: 20%;
    padding: 15px;
    top: 19%;
  ul {
    list-style-type: none;
  }
  .nav-bar-title {
    display: flex;
    border-bottom: 1px solid #d9d9d9;
    img {
      width: 24px;
    }
  }
  .nav-bar-category {
    display: flex;
  }
  li {
    padding: 11px 3px 11px 0;
  }
  span {
    padding-top: 4px;
    font-size: 11px;
  }
}

@media (max-width: 768px) {
  .nav-bar {
    margin: 30px 0;
    width: 100%;
    height: fit-content;
    background-color: #1f1f1f;
    color: #ffffff;
    border-radius: 10px;
    ul {
      list-style-type: none;
    }
    .nav-bar-title {
      display: flex;
      padding-bottom: 12px;
      border-bottom: 1px solid #d9d9d9;
      img {
        width: 24px;
      }
    }
    .nav-bar-category {
      display: flex;
    }
    li {
      padding: 10px 5px;
    }
  }
}
