footer {
    background-color: #1f1f1f;
    padding-top: 75px;
  
    .footer-row {
      display: flex;
      width: 100%;
      justify-content: space-between;
      .footer-logo {
        height: min-content;
      }
      div {
        display: flex;
        justify-content: space-between;
      }
      .footer-col {
        display: flex;
        flex-direction: column;
        justify-content: start;
        a {
          font-size: 20px;
          margin-bottom: 25px;
        }
      }
    }
  
    .phoenix-prod {
      display: flex;
      margin-top: 100px;
      padding-bottom: 20px;
      p {
        font-size: 16px !important;
      }
      div {
        display: flex;
        width: 40%;
      }
    }
  }
@media (max-width: 768px) {
  footer {
    padding-top: 50px;
  
    .footer-row {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
      .footer-logo {
        height: min-content;
      }
      div {
        display: flex;
        margin-top: 20px;
        width: 100% !important;
        justify-content: space-between;
      }
      .footer-col {
        display: flex;
        flex-direction: column;
        justify-content: start;
        a {
          font-size: 16px;
          margin-bottom: 25px;
        }
      }
    }
  
    .phoenix-prod {
      display: flex;
      margin-top: 30px;
      p {
        font-size: 10px !important;
      }
      div {
        display: flex;
        width: 40%;
      }
    }
  }
}