.product-details {
  background-color: #111;
  .product-details-wrapper {
    .product-details-card {
      display: flex;
      height: 80vh;
      width: 100%;
      .product-info-img {
        width: 50%;
        margin: auto;
      }
      .short-product-info {
        margin-top: 100px;
        width: 50%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h3 {
          font-size: 40px;
          font-family: gilroy-medium;
          margin-bottom: 40px;
        }
        .product-price {
          font-family: Gilroy-regular;
          font-size: 32px;
          font-weight: 400;
          line-height: 26px;
          margin-bottom: 34px;
        }
        .product-description {
          font-family: Gilroy-light;
          font-size: 24px;
          font-weight: 300;
          line-height: 43px;
          letter-spacing: 0em;
          text-align: left;
          b {
            font-weight: 900;
            font-family: gilroy-bold;
          }
        }
        .product-buttons {
          display: flex;
          width: 100%;
          justify-content: space-between;
          .add-to-cart-btn {
            background-color: #d8c831;
            color: #000000;
            font-family: gilroy-bold;
            border: none;
            padding: 20px 0;
            border-radius: 16.29px;
            height: fit-content;
            align-self: flex-end;
            width: 40%;
          }
          .incr-decr {
            p:nth-child(1) {
              color: #888;
              font-size: 24.43px;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}

.product-description-block {
  background-color: #000000;
  .product-description-block-wrapper {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    .product-description-grid {
      display: grid;
      gap: 70px;
      row-gap: 30px;
      grid-template-columns: 1fr 1fr;
      flex-direction: row;
      .product-description-column {
        max-width: 100%;
        width: 90%;
        .product-param {
          font-family: Gilroy-Medium;
          font-size: 36px;
          font-weight: 500;
          line-height: 44px;
          letter-spacing: 0em;
          text-align: left;
        }
        p {
          font-size: 16px;
        }
      }
    }
  }
}
.new-products {
  .new-products-wrapper {
    padding: 50px 0;
    h1 {
      text-align: center;
      margin: 32px 0;
    }
    hr {
    }

    .product-grid {
      display: grid;
      justify-content: space-between;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      width: 100%;
      gap: 35px;
      margin-top: 40px;
      margin-bottom: 50px;

     
    }
  }
}

@media (max-width:768px) {
  .product-details {
    .product-details-wrapper {
    .product-details-card {
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
        .product-info-img {
          min-width: 100%;
          min-height: 40%;
          margin:  0 auto;
        }
        .short-product-info {
          margin-top: 50px;
          width: 100%;
          padding-bottom: 30px;
          h3 {
            font-size: 25px;
            margin-bottom: 10px;
          }
          .product-price {
            font-size: 15px;
            font-weight: 400;
            line-height: normal;
            margin-bottom: 10px;
          }
          .product-description {
            font-family: Gilroy-light;
            font-size: 15px;
            font-weight: 300;
            line-height: 43px;
            letter-spacing: 0em;
            text-align: left;
            b {
              font-weight: 900;
              font-family: gilroy-bold;
            }
          }
          .product-buttons {
            display: flex;
            width: 100%;
            justify-content: space-between;
            .add-to-cart-btn {
              background-color: #d8c831;
              color: #000000;
              font-family: gilroy-bold;
              border: none;
              padding: 20px 0;
              border-radius: 16.29px;
              height: fit-content;
              align-self: flex-end;
              width: 40%;
            }
            .incr-decr {
              p:nth-child(1) {
                color: #888;
                font-size: 20px;
                font-size: 15px;
                margin: 0 10px 5px;
              }
            }
          }
        }
      }
    }
  }
  .product-description-block {
    .product-description-block-wrapper {
      padding: 30px 20px;
      display: flex;
      flex-direction: column;
      .product-description-grid {
        display: grid;
        gap: 25px;
        row-gap: 20px;
        grid-template-columns: 1fr 1fr;
        flex-direction: row;
        .product-description-column {
          width: 100%;
          .product-param {
            font-family: Gilroy-Medium;
            font-size: 30px;
            font-weight: 500;
            line-height: 40px;
            letter-spacing: 0em;
            text-align: left;
            text-transform: capitalize;
          }
          p {
            font-size: 13px;
          }
        }
      }
    }
  }

  .new-products {
    .new-products-wrapper {
      padding: 25px 0;
      h1 {
        text-align: center;
        font-size: 26px;
        margin: 0 0 15px 0;
      }
      hr {
      }
  
      .product-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        gap: 7px;
        margin-top: 20px;
        margin-bottom: 50px;
        justify-items: center;
        padding: 0 10px;
  
      
      }
    }
  }
}