@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url('https://fonts.cdnfonts.com/css/gilroy-bold');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // outline: 1px solid red;
}

body {
  margin: 0;
  font-family: "Montserrat", Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
}

.hidden {
  display: none !important;
}

html,
body,
#root,
.main {
  // height: 100%;
  background-color: #111111;
}
h1{
  font-size: 55px;
  font-family: Gilroy-Bold;
  font-weight: 700;
}
p{
  font-size: 20px;
  font-family: gilroy-regular;
  font-weight: 400;
}

a{
  color: #ffffff;
  text-decoration: none;
}
.container {
  max-width: 1570px;
  margin: 0 auto;
  overflow: hidden;
}

@media(max-width: 768px){
  .container {
    max-width: 748px;
    margin: 0 auto;
    overflow: hidden;
    padding: 0 20px;
  }
  h1{
    font-size: 30px;
    font-family: Gilroy-Bold;
    font-weight: 700;
  }
  p{
    font-size: 15px;
    font-family: gilroy-regular;
    font-weight: 400;
  }
  
}